@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&display=swap');


body {
    width: 100%;
    overflow-x: hidden;
    color: #707070;
    font-family: 'Raleway', 'sans-serif';
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    letter-spacing: 1.6px;
}

.aside_content {
    background-color: #F1F1F1;
}

.logo_canapi {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50%;
    transition: all .2s ease-in;
}

.logo_canapi:hover {
    width: 50%;
    transition: all .2s ease-in;
    outline-offset: 15px;
    transform: scale(0.97);
}

.welcome_title {
    padding: 20px;
    margin-bottom: 40px;
}

.email_btn {
    margin: 0 auto;
    padding-bottom: 10px;
}

.mail, .mail:focus {
    background-color: #5E17EB;
    text-decoration: none;
    color: white;
    font-size: 0.8em;
    transition: all .2s ease-in;
    border: 1px solid #5E17EB;
}

.mail:hover {
    background-color: white;
    border: 1px solid #5E17EB;
    color: #5E17EB;
    transform: scale(0.96);
}

.table {
    margin-bottom: 30px;
    font-size: 0.8em;
    background-color: white;
    border-radius: 20px;
    box-shadow: 10px 5px 20px rgb(229, 229, 229);
}

thead, tbody {
    text-align: center;
}


h2 {
    font-size: 0.9em;
    margin: 0 auto;
    padding-bottom: 10px;
}

.logout {
    color: #707070;
    font-size: 0.7em;
}

.logout:hover {
    color: rgb(211, 211, 211);
}

.dashboard {
    width: 70%;
    margin-left: 30px;
}

.dashboard_header {
    text-align: center;
    font-size: 1.2em;
    font-weight: 600;
    background-color: #5E17EB;
    color: white;
    border-radius: 20px;
}

.boutons_acces_principaux {
    text-align: center;
    padding: 30px;
}

.main_access_btn {
    padding: 20px;
    width: 150px;
    transition: all .2s ease-in;
}

.main_access_btn:hover {
    transform: scale(0.96);
}

.card-title {
    margin-bottom: 30px;
}

.boutons_acces_options {
    margin-bottom: 30px;
}

.option_access_btn {
    font-size: 0.85em;
    transition: all .2s ease-in;
    width: 100px;
}

.option_access_btn:hover {
    transform: scale(0.96);
    background-color: white;
    outline: #707070;
    color: #707070;
}

.btn:focus {
    box-shadow: none;
}
